*
{
  margin:0;
  padding:0;  
}
.hero_section
{
    background-image:url(https://cdn.prod.website-files.com/659f77ad8e06050cc27ed531/65ef63f6bd30ab838939a4ae_Developer%20productivity%20tools%202024.webp);
    min-height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:center;
}
.text_container
{
   text-align: center; 
   color: white;
   font-size: 40px;
}
.surbhi
{
    font-weight: 400;
    font-size: 50px;
}
.hii
{
    font-weight:600;
    font-size:80px;
}
.black_box
{
    background-color: black;
    color:white;
}

.black_box_text {
  text-align: center;
  font-size: 50px; /* Small size for normal text */
  font-weight: 300;
  background-color: black;
  color: white;
}

.you {
  font-size: 80px;  /* Much larger for "you" */
  font-weight: 700;
  vertical-align: middle;
}




